venv/
*.pyc
__pycache__/
db.sqlite3
*.log
*.swp
.DS_Store
media/  # Раскомментируйте, если не хотите отслеживать загруженные медиафайлы
staticfiles/ # Раскомментируйте, если не хотите отслеживать собранные статические файлы